#left-container, #right-container {
    height: 100%;
    float: left;
    padding: 0;
}


#left-container {
    background-color: #1D1D1D;
    width: 30%;
}


#right-container {
    background-image: url('../images/grunge_texture01.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
}


nav #menu {
    width: 50%;
}


article {
    /*background: rgba(76, 175, 80, 0.3);*/
    float: left;
    width: 80%;
    padding: 6em;
    padding-top: 8em;
}


.aboutHeader {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}


article section.myStory {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    line-height: 1.5em;
}


@media all and (max-width: 768px) {
    #left-container, #right-container {
        width: 100%;
        overflow: hidden;
    }


    #left-container {
        height: auto;
    }
    

    nav ul li {
        display: inline;
        float: left;
        width: 30%;
        margin-right: 2%;
        list-style-type: none;
    }
}


@media (max-width: 960px) {
    article section.myStory {
        padding-right: 10%;
    }
}


